* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'AvertaBold';
}

@font-face {
    font-family: 'InterReg';
    src: url("../src/fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: 'InterBold';
    src: url("../src/fonts/Inter/static/Inter-Black.ttf");
}

@font-face {
    font-family: 'AvertaReg';
    src: url("../src/fonts/Averta/averta-regular.otf");
}

@font-face {
    font-family: 'AvertaBold';
    src: url("../src/fonts/Averta/averta-bold.otf");
}

.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    overflow: hidden;
}

/* Search panel code, including search boxes and path results */
.search-panel {
    width: 100%;
    height: 100vh;
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
    background-color: transparent;
    border-right: 1px solid grey;
    padding: 10px;
}

.search-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-box-start-station, .search-box-end-station {
    margin: 5px 0;
}

.search-btn {
    padding: 10px;
    font-family: 'Inter';
    border: none;
    border-radius: 4px;
    background-color: #1865f3;
    color: white;
}

.search-btn:hover {
    cursor:pointer;
}

/* Canvas element to display stations, connections and search result path */
.metro-map-container {
    margin: 0px;
    grid-row: 1;
    grid-column: 2 / 7;
}